html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}
.bg-img {
    background-image: url('/img/homepage.png');
    height: 500px;
    background-size: cover;
}
.hover-shadow:hover {
    transform: translateY(-4px);
    transition: all 0.3s ease;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.card img {
    object-fit: cover;
}

.card-title {
    letter-spacing: 0.5px;
}

.btn-primary, .btn-outline-primary:hover {
    transition: all 0.2s ease-in-out;
}

.btn-gradient {
    background: linear-gradient(90deg, #007bff, #00bfa6);
    border: none;
    transition: all 0.3s ease-in-out;
}

    .btn-gradient:hover {
        background: linear-gradient(90deg, #0069d9, #00a18d);
        transform: translateY(-2px);
    }


table tbody tr:hover {
    background-color: #f8f9fa;
    transition: 0.2s ease;
}